*{
        background-size: cover;
        margin: 0;
        padding: 0; 
}
.box{
        color: black;
        font-size: 50px;
        font-weight: bold;
        background-color: rgba(127, 146, 242, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650px;
        flex-direction: column;
        background-size: cover;
        padding: 0 0 150px 0;
}